// -----------------------------------------------------------------------------
// This file contains styles that are specific to the questions page.
// -----------------------------------------------------------------------------

.page-questions{
    visibility: visible;

    .main{
        position: relative;
        left: 50%;
        top: calc(50% - 3.5em);
        transform: translate(-50%, -50%);
        height: calc(100vh - 150px - 7em);
        width: calc(100vw - 150px);
    }

    .header{
        height: 250px;
        display: block;
    
        .logo{
            height: 250px;
            width: 280px;

            display: inline-block;
            vertical-align: top;
        
            .logo-image{
                position: relative;
                top: -77px;
                left: -67px;
                width: 340px;
                height: auto;
            }
        
        }

        .headtext-container{
            position: relative;
            display: inline-block;
            width: calc(100% - 280px - 4px);
            z-index: 5;
            
            .headtext-item{
                display: block;

                .artist-text{
                    @include paaspop-typo-box-1;
                    font-size: 7rem;
                    margin: 0;
                    display: inline-block;
                }
        
                .question-text{
                    @include paaspop-typo-box-2;
                    font-size: 7rem;
                    margin: -1.3rem 0 0 0;
                    display: inline-block;
                }

            }

        }

    }



    .answers{
        width: 100%;
        height: calc(100% - 250px);
        
        .answer-container{
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0;
            padding: 0;
            z-index: 5;

            .answer-item{
                display: block;

                .answer{
                    @include paaspop-typo-box-3;
                    font-size: 7rem;
                    margin: 1.5rem 0 0 0;
                    display: inline-block;
                }

            }

        }

    }



    .timer-container{
        position: absolute;
        top: 0;
        right: 0;
        width: 8rem;
        height: 8rem;
        z-index: 6;
        border-radius: 50%;
        background-color: $paaspop-yellow;

        .timer-text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            margin: 0;

            @include paaspop-typo-3;
            font-size: 6rem;
            line-height: 1;
        }

    }



    .artist-image{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 47%;
        z-index: 4;
        padding-top: 42%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }



    .time-up-notifier{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 7;
        animation: 0.2s grow;
        animation-fill-mode: forwards;
        animation-timing-function: ease;

        @include paaspop-typo-box-1;
        font-size: 10em;
        margin: 0;
        
    }

    @keyframes grow {
        from {
            transform: scale(4.3);
        }
        to {
            transform: scale(1);
            -webkit-transform: rotate(350deg);
            -moz-transform: rotate(350deg);
            -o-transform: rotate(350deg);
            -ms-transform: rotate(350deg);
            transform: rotate(350deg);
        }
    }

}