// -----------------------------------------------------------------------------
// This file contains styles that are specific to the opening page.
// -----------------------------------------------------------------------------

.page-closing{
    z-index: 30;
    visibility: hidden;

    .header{
        height: 250px;
        display: block;
      
        .logo{
            height: 250px;
            width: 280px;
    
            display: inline-block;
            vertical-align: top;
        
            .logo-image{
                position: relative;
                top: -77px;
                left: -67px;
                width: 340px;
                height: auto;
            }
        
        }
    
    }
    
    .closing-text{
        width: 100%;
        height: calc(100% - 250px);

        .closing-text-content{
            position: absolute;
            bottom: 0;

            .closing-text-block{
                position: relative;
                bottom: 0;
                left: 0;
                margin: 1.3rem 0 0 0;
                padding: 0;
                z-index: 5;

                .text-1{
                    @include paaspop-typo-box-1;
                    font-size: 7rem;
                    margin: 0;
                    display: inline-block;
                }
        
                .text-2{
                    @include paaspop-typo-box-2;
                    font-size: 7rem;
                    margin: -1.3rem 0 0 0;
                    display: inline-block;
                }

            }
        
        }

    }

    .closing-image{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 47%;
        z-index: 4;
        padding-top: 47%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

}