script(type='text/javascript' src='/js/alerts.js')
div.absolute_bottom
	p.alert.alert-danger.animated.fadeIn.faster.display-none#alert_danger danger test
	p.alert.alert-warning.animated.fadeIn.faster.display-none#alert_warning warning test
	p.alert.alert-success.animated.fadeIn.faster.display-none#alert_success info test


