
:root{
    --paaspop-blue: #01014b ;
    --paaspop-yellow: #ffe600;
}

@font-face{
    font-family: TTTunel-Regular;
    src: url(Fonts/TTTunnels-Regular.otf);
}

@font-face{
    font-family: TTTunel-Black;
    src: url(Fonts/TTTunnels-Black.otf);
}

body {
    background-color: var(--paaspop-yellow);
    font-size: 1.6rem;
    background-color: gray;
    line-height: 1.5;
    font-weight: 400;
    color: #414141;
    overflow-x: hidden;
    min-height: 100vh;
    width: 100%;
    position: relative;
    font-family: TTTunel-Regular;
    overflow: hidden;
}

#backgroundVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.main{
  position: absolute;
  color: #f1f1f1;
  padding: 20px;
  margin-left: 5%;
  margin-right: 5%;
  left: 0;
  top: 0;
  right: 0;
  
}

.flex-container {
    display: flex;
    align-items: center;
  }

.paas-question{
    padding: 5px;
    background-color: var(--paaspop-blue);
    color: var(--paaspop-yellow);
    width: 100%; 
    margin: 0px;

}

.paas-artist-text{
    
    background-color: var(--paaspop-blue);
    color: white;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;

}

.paas-question-container{
    width: 100%; 
    flex-direction: column;
    align-items: baseline;
    display: flex;
    margin-left: 20px;
    font-size: 1.5em;
}

.text-center{
    text-align: center;
}

.paas-answer-list{
    list-style: none;
    font-family: TTTunel-Black;
    font-weight: 900;
}

.paas-answer-list-item{
    background-color: var(--paaspop-yellow);
    columns: var(--paaspop-blue);
    color: var(--paaspop-blue);
    font-family: TTTunel-Black;
    padding-left: 8px;
    padding-right: 8px;
    width: fit-content;
    transition: all 1.2s ease-in-out;
    font-size: 1.6em;

}

.answer{
    margin: 15px;
}

.artist-image{
    width: 100%;
    height: auto;
}


.timer{
    background-color: var(--paaspop-yellow);
    padding: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 20px;
    font-family: TTTunel-Black;
    font-size: xx-large;
    color: var(--paaspop-blue);
    line-height: initial ;
    font-size: 2em;
}

.time-up-notifier{
   
    background-color: var(--paaspop-blue);
    color: var(--paaspop-yellow);
    font-size: 1.5em;
    position: absolute;
    padding-left: 100px;
    padding-right: 100px;
    top: 50%;
    font-weight: 900;
    animation: 0.2s grow;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes grow {
    from {

      transform: scale(4.3);
    }
    to {

      transform: scale(1);
      -webkit-transform: rotate(330deg);
      -moz-transform: rotate(330deg);
      -o-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
      transform: rotate(330deg);
    }
  }