doctype html
html
	head
		meta(content="text/html;charset=utf-8" http-equiv="Content-Type")
		meta(content="utf-8" http-equiv="encoding")
		script(type='text/javascript' src='/js/game_controls.js')
		style
			include /css/mustard-ui.css
			include /css/style.css
			include /css/animated.css

	body
		include includes/layout/nav
		main
			div(class="container")
				include includes/layout/breadcrumbs
				if screen == 'home'
					include includes/home/index
				else if screen == 'users'
					include includes/users/users
				else if screen == 'user'
					include includes/users/user
				else if screen == 'histories'
					include includes/history/histories
				else if screen == 'history'
					include includes/history/history
				else if screen == 'ws_admin'
					include includes/websockets/admin
				else if screen == 'ws_game'
					include includes/websockets/game
				else
					h1 Screen not found
				include includes/layout/modals
				include includes/layout/alerts
