// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



/// Code (monospace) font family
/// @type List
$paaspop-font: 'TTTunnels-Black', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;



/// Paaspop Blue
/// @type Color
$paaspop-blue: #01014b;

/// Paaspop Yellow
/// @type Color
$paaspop-yellow: #ffe600;


/// Paaspop White
/// @type Color
$paaspop-white: #ffff;