:root{
    --paaspop-blue: #01014b ;
    --paaspop-yellow: #ffe600;
    --paaspop-green: #00ff80;
    --paaspop-purple:#FF00FE ;
}

@font-face{
    font-family: TTTunel-Regular;
    src: url(../Fonts/TTTunnels-Regular.otf);
}

@font-face{
    font-family: TTTunel-Black;
    src: url(../Fonts/TTTunnels-Black.otf);
}

html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  
  
  body {
    overflow: hidden;
    font-family:TTTunel-Black;
    background-color: var(--paaspop-yellow);
    text-transform: uppercase;
    color: var(--paaspop-yellow);
    }

    .page{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
    
        .main{
          position: relative;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          height: calc(100vh - 150px);
          width: calc(100vw - 150px);
        }
    

h1{
    background-color: var(--paaspop-blue);
    color: var(--paaspop-yellow);
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 8px;
}

.flex-container {
    padding: 0;
    margin: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: flex-start;
    min-height: calc(100vh - 20vh)
}

.center{
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.text-center {
    text-align: center;
}

.testButton{
    position: absolute;
    z-index: 20;
    padding: 20px;
    background-color: var(--paaspop-yellow);
    color:black;
    border-style: none;
    font-size: large;
    border-radius: 2em;
    left:46.5%;
    top:46.5%;
}

/* Background */
.background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/* Transition */
.transition{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 100;
  visibility: hidden;
}

/* Panel */
.panel{
    display: block;
    position: relative;
    padding: 16px;
    background-color: var(--paaspop-blue);
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Leaderboard-container */
.leaderboard-container{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100%;
    margin-left: 30px;
}

/* leaderboard-header */
.leaderboard-header{
    margin-top: 5px;
    margin-bottom: 10px;
    z-index: 10000;
    color: var(--paaspop-blue);
    z-index: 10000;
    font-size: 2.5rem;
    background-color: var(--paaspop-green);
    padding: 10px;
}

/* leaderboard-list */
.leaderboard-list{
    list-style: decimal;
    font-size: 1.8rem;
    font-family: TTTunel-Black;
    
}

/* leaderboard-listItem */
.leaderboard-listItem{
    z-index: 10000;
    color: #FFFFFF;
}

.leaderboard-listItemFinished{
    z-index: 10000;
    color: var(--paaspop-yellow);
}

.game-title{
    height: fit-content;
    font-size: 4rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}


/* Opening section */

.page-opening{
    z-index: 20;
    visibility: hidden;
}

    .header{
        height: 250px;
        display: block;
    }
      
.logo{
            height: 250px;
            width: 280px;
    
            display: inline-block;
            vertical-align: top;
        }
        
.logo-image{
                position: relative;
                top: -77px;
                left: -67px;
                width: 340px;
                height: auto;
            }
        
        
    
    
    
    .opening-text{
        width: 100%;
        height: calc(100% - 250px);
    }

        .opening-text-content{
            position: absolute;
            bottom: 0;
        }

            .opening-text-block{
                position: relative;
                bottom: 0;
                left: 0;
                margin: 1.3rem 0 0 0;
                padding: 0;
                z-index: 5;
            }

                .text-1{
                    font-size: 7rem;
                    margin: 0;
                    display: inline-block;
                    background-color:var(--paaspop-blue);
                    padding-left: 20px;
                    padding-right: 20px;
                }
        
                .text-2{
                    font-size: 7rem;
                    margin: -1.3rem 0 0 0;
                    display: inline-block;
                    padding-left: 20px;
                    padding-right: 20px;
                    background-color:var(--paaspop-blue);
                }

    .opening-image{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40%;
        z-index: 4;
        padding-top: 47%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    /* End opening section */




    /* closing section */

    .page-closing{
        z-index: 30;
        visibility: hidden;
    }
    
        .header{
            height: 250px;
            display: block;
        }
          
            .logo{
                height: 250px;
                width: 280px;
        
                display: inline-block;
                vertical-align: top;
            }
            
                .logo-image{
                    position: relative;
                    top: -77px;
                    left: -67px;
                    width: 340px;
                    height: auto;
                }
            
        
        .closing-text{
            width: 100%;
            height: calc(100% - 250px);
        }
    
            .closing-text-content{
                position: absolute;
                bottom: 0;
            }
    
                .closing-text-block{
                    position: relative;
                    bottom: 0;
                    left: 0;
                    margin: 1.3rem 0 0 0;
                    padding: 0;
                    z-index: 5;
                }
    
        
    
        .closing-image{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 47%;
            z-index: 4;
            padding-top: 47%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    
    

    /* End closing section */