// -----------------------------------------------------------------------------
// This file contains all @font-face declarations.
// -----------------------------------------------------------------------------



// TT Tunnels - Regular
@font-face{
    font-family: 'TTTunnels-Regular';
    src: url(../fonts/TTTunnels-Regular.otf);
}



// TT Tunnels - Black
@font-face{
    font-family: 'TTTunnels-Black';
    src: url(../fonts/TTTunnels-Black.otf);
}