$dark: #03004A;
$yellow: #FFE600;
$blue: #0000FF;

@import './fonts.scss';
@import './mixins.scss';

.bg-image {
	background-repeat: no-repeat;
	background-size: 100vh;
	background-position: center;
	height: 100vh;
	width: 100vh;
}

// buttons
.btn {
	background-color: $yellow;
	border-radius: 42px;
	display: inline-block;
	cursor: pointer;
	color: $dark;
	padding: 8px 40px;
	text-decoration: none;
	border: none;
	text-transform: uppercase;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	font-family: TTTunnels-Black;
	font-size: 1.4rem;
}

.btn:hover {
	background-color: $dark;
	color: $yellow;
	text-transform: uppercase;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.btn-start {}

.game-btn {}

// Page titles
.page_title {
	color: $dark;
	font-size: 35px;
	text-transform: uppercase;
	display: inline-block;
	font-family: TTTunnels-Black;
	font-weight: lighter;
	padding: 5px 8px 5px 8px;
	background-color: $yellow;
	margin: 20px 30px 10px 30px;
}

.paaspop_big_logo {
	transform: translate(-50%, -50%);
}

.container {
	width: 100%;
	height: 100vh;
	font-family: test;
	font-size: 14px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	font-family: "Montserrat-Thin";
	font-weight: bold;
	color: white;
}

.row {
	flex: row;
	width: 100%;
}
.logo-outer{
	margin-top: 20px;
}
.logo{
	height: 150px;
	
}
.card {
	background-color: $dark;
	margin: 0 auto;
	padding: 20px;
	margin: 10px 30px 10px 30px;
	min-height: 200px;

	.card-body {
		width: 100%;
		margin: 20px auto;

		.form-group {
			margin-bottom: 10px;
			text-align: center;

			label {
				margin-top: 5px;
				margin-bottom: 10px;
				display: inline-block;
				font-family: "Montserrat-Thin";
				font-weight: bold;
				color: white;
			}

			input {
				line-height: normal;
				width: 100%;
				padding: 12px 10px;
				background-color: $blue;
				border: none;
				color: white;
				font-size: 14px;
				font-weight: bold;
				box-sizing: border-box;
				font-family: "Montserrat-Thin";
				font-weight: lighter;
				font-size: 14px;
			}

			::placeholder {
				color: white;
				opacity: 1;
				text-transform: uppercase;
				font-family: "TTTunnels-Black";
				font-weight: lighter;
			}
		}
	}

	.card-footer {
		margin-top: 30px;
		font-weight: bolder;
		text-align: center;

		a {
			color: $yellow;
		}
	}
}

.agree{
	margin: 10px;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}