div
	script(type='text/javascript' src='/js/auto_reload.js')
	h3= 'Welkom ' + name
	div.row
		div.col.col-lg-4
			include websocket_connections
		div.col.col-lg-8
			include game_progress
	include all_games