script(type='text/javascript' src='/js/ws_connection_status.js')
div.card
	h3.card-title Connectie status
	p Admin channel: 
		span#admin_channel 
		a.socketbutton.button.button-success.button-small(href='/ws/admin') Open
	p Game channel: 
		span#game_channel